{% extends 'base_generic.html' %}

{% block content %}
  <h2>Zarejestruj się</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Zarejestruj się</button>
  </form>
    <p id="strength-status">Moc haseł: ??</p>
    <p id="validate-status">Zgodność haseł: ??</p>


<script>
    $(document).ready(function() {

    $("#id_password2").keyup(validate);

    $("#id_password1").keyup(strong_password);
});


function validate() {
  var password1 = $("#id_password1").val();
  var password2 = $("#id_password2").val();


    if(password1 == password2) {
       $("#validate-status").text("Zgodność haseł: OK");
       $("#validate-status").css('color', 'green');
    }
    else {
        $("#validate-status").text("Podane hasła nie są takie same.");
        $("#validate-status").css('color', 'red');
    }

}
function strong_password() {
  var password1 = $("#id_password1").val();

  if(password1.length < 8){
       $("#strength-status").text("Hasło za krótkie!");
       $("#strength-status").css('color', 'red');
       return;
  }
  if ( /^\d+$/.test(password1) ) {
      $("#strength-status").text("Hasło nie zawiera liter!");
      $("#strength-status").css('color', 'red');
        return;
  }
  $("#strength-status").text("Moc hasła: OK");
  $("#strength-status").css('color', 'green');

}

</script>
{% endblock %}
